﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/media.css" rel="stylesheet" />
    </environment>*@
    <environment names="Staging, Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/media.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <nav>
            <div class="container-fluid">
                <div class="row navbar-left">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <a href="#" class="navbar-brand logo">
                            <img src="~/img/logo.png" width="240" height="74" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="top_menu">
                    <ul class="menu">
                        <li>
                            <a asp-controller="Country" asp-action="CountryList">Countries</a>
                        </li>
                        <li>
                            <a asp-controller="Country" asp-action="Articles">Articles</a>
                        </li>
                        <li>
                            <button class="btn btn-info" data-toggle="collapse" data-target="#profile">Profile</button>
                        </li>
                    </ul>
                    <ul id="profile" class="collapse">
                        <li>
                            <a asp-action="Signup" asp-controller="Account">Sign Up</a>
                        </li>
                        <li>
                            <a asp-action="Logout" asp-controller="Account">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderSection("Search", required: false)
    </header>
    <section class="content" id="content">
        @RenderBody()
    </section>
    <footer class="footer">
        <div class="main_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="footer_item">
                            <img class="image-responsive" src="~/img/wiki.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer_item">
                            <img class="image-responsive" src="~/img/eye.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer_item">
                            <img class="image-responsive" src="~/img/health.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer_item">
                            <img class="image-responsive" src="~/img/www.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer_item">
                            <img class="image-responsive" src="~/img/temple.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer_item">
                            <img class="image-responsive" src="~/img/usa.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="copy_txt">
                            <time>2017</time> &copy; Developed by Sergey Ostanevych
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<enviroment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </enviroment>*@
    <enviroment names="Staging, Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </enviroment>
    @RenderSection("Scripts", required: false)
</body>
</html>
