﻿<div class="container">
    <div class="row">
        <h2>Welcome to Admin page</h2>
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Available Actions</h3>
            </div>
            <div class="panel-body">
                <a asp-action="initdb" asp-controller="admin">Init or clear DB</a>
            </div>
        </div>

    </div>
</div>
