﻿@{
    ViewData["Title"] = "InitDb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1>Initialize Database</h1>
        <hr />
        <div id="result">

        </div>
        @Html.AntiForgeryToken()

        <button id="init" class="btn btn-primary">Init</button>
        <button id="clear" class="btn btn-primary">Clear</button>
    </div>
</div>

@section Scripts{
<script>
    $(function () {
        var token = $(':input[name="__RequestVerificationToken"]').val();
        var countries = [];
        var isAsync = true;
        var btn = $("#init");
        btn.click(function (ev) {
            var codesUrl = "https://restcountries.eu/rest/v2/name/";
            //var codesUrl = "https://en.wikipedia.org/w/api.php?format=json&formatversion=2&action=parse&page=ISO_3166-2&prop=text";
            var countriesUrl = "https://en.wikipedia.org/w/api.php?format=json&formatversion=2&action=parse&page=List_of_national_independence_days&prop=text";
            //var countries;
            $.ajax({
                type: 'GET',
                url: countriesUrl,
                dataType: 'jsonp',
                async: isAsync,
                success: function (resp) {
                    var t0 = performance.now();
                    // main fetch
                    var data = JSON.stringify(resp);
                    var res = JSON.parse(data);

                    var content = res.parse.text;
                    var divRes = document.getElementById("result");
                    var parserDOM = new DOMParser();
                    var htmlToParse = parserDOM.parseFromString(content, "text/html");
                    var table = htmlToParse.getElementsByTagName('table')[0];
                    countries = wikiCountryListParse(table);

                    // codes fetch
                    countries.forEach(function (item, index, array) {
                        $.ajax({
                            type: 'GET',
                            url: codesUrl + item.CountryName,
                            dataType: 'json',
                            async: isAsync,
                            success: function (resp) {

                                var code = resp[0].alpha2Code;
                                item.FlagSrc = resp[0].flag;
                                item.Code = code;
                            }
                        })
                    });
                    // fetch articles
                    var urlPattern = "https://en.wikipedia.org/w/api.php?format=json&formatversion=2&action=query&prop=extracts&exintro=&titles=";
                    countries.forEach(function (item, index, array) {
                        $.ajax({
                            type: 'GET',
                            url: urlPattern + item.CountryName,
                            dataType: 'jsonp',
                            async: isAsync,
                            success: function (resp) {
                                var data = JSON.stringify(resp);
                                var res = JSON.parse(data);

                                var content = res.query.pages[0].extract;
                                countries[index].Article = content;
                            }
                        });
                    });

                    var t1 = performance.now();
                    var delta = t1 - t0;
                    // done
                    setTimeout(function () {
                        //SOME TRACE CODE!
                        console.log(countries);
                        var outP = document.createElement("p");
                        //outP.innerHTML = countries[0].Article;
                        var divRes = document.getElementById("result");
                        divRes.appendChild(outP);

                        var sendJsonData = {
                            Name: "Group1",
                            Items: countries
                        };
                        $.ajax({
                            type: 'POST',
                            url: "/admin/initdb",
                            contentType: "application/json; charset=utf-8",
                            headers: { "RequestVerificationToken": token},
                            dataType: "json",
                            data: JSON.stringify(sendJsonData),
                            async: isAsync,
                            success: function (resp) {
                                console.log(resp);
                                outP.innerHTML = resp.msg;
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                outP.innerHTML = thrownError;

                            }
                        });

                    }, delta * 4);
                }
            });
        });

        var clearBtn = $("#clear");
        clearBtn.click(function (ev) {
            $.ajax({
                type: "GET",
                url: "cleardb",
                dataType: "json",
                success: function (resp) {
                    var outP = document.createElement("p");
                    outP.innerHTML = resp.msg;
                    var divRes = document.getElementById("result");
                    divRes.appendChild(outP);
                }
            }
            )
        });
    });

    function wikiCountryListParse(table) {
        //vars for wikitable parsing
        var countries = [];
        var tbody = table.getElementsByTagName('tbody')[0];
        var tChildren = tbody.children;

        //vars for loop
        //elements
        var checkBlank;
        var country;
        var yearTd;
        var getAnchor;
        var getTd;
        var indepDateTd;
        var spans;

        //for fetched data
        var getName;
        var getLink;
        var getImgSrc;
        var indepDate;
        var yearParsed;

        var countryCount = 0;
        for (let index = 1; index < tChildren.length; index++) {
            const element = tChildren[index];
            checkBlank = element.getElementsByTagName('td')[0].
                getElementsByClassName('sortkey')[0];

            if (checkBlank === undefined) {
                getTd = element.getElementsByTagName('td')[0];
                getImgSrc = getTd.getElementsByTagName('img')[0].
                    getAttribute('src');
                getAnchor = getTd.getElementsByTagName('a')[0];
                getName = getAnchor.getAttribute('title');
                getLink = getAnchor.getAttribute('href');

                indepDateTd = element.getElementsByTagName('td')[1];
                spans = indepDateTd.getElementsByTagName('span');
                yearTd = element.getElementsByTagName('td')[2];
                yearParsed = parseInt(yearTd.innerText);

                if (spans.length !== 0)
                    indepDate = spans[0].innerText.replace('!', '') + ' ' + yearParsed;
                else {
                    indepDate = indepDateTd.innerText.replace('!', '') + ' ' + yearParsed;
                }

                country = new Object();
                country.FlagSrc = getImgSrc;
                country.CountryName = getName;
                country.WikiLink = getLink;
                country.Date = dateTimeFormatted(indepDate);

                countries[countryCount] = country;
                countryCount++;
            }
            else {
                yearTd = element.getElementsByTagName('td')[1];
                yearParsed = parseInt(yearTd.innerText);
                indepDate = checkBlank.innerText.replace('!', '') + ' ' + yearParsed;
                countries[countryCount - 1].Date = dateTimeFormatted(indepDate);
            }
        }
        return countries;
    }

    function dateTimeFormatted(dateStr) {
        var date = new Date(dateStr);

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        return day + '/' + month + '/' + year;
    }
</script>
}
