﻿@using CountryBlog.Models;
@using CountryBlog.ViewModels;
@using CountryBlog.Models;

@model ArticlesList
@addTagHelper "*, cloudscribe.Web.Pagination"
@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Search{
    <div class="container-fluid">
        <div class="row search">
            <form class="search_form align-center" id="search" role="search">
                <div class="form-group">
                    <input id="query" class="form-control pull-left search_field" type="text" />
                    <button type="submit" class="form-control search_btn pull-right btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <a class="btn btn-danger" id="magic" href="#">Get magic number</a>
        <div>
            <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                      cs-paging-pagenumber="@Model.Paging.CurrentPage"
                      cs-paging-totalitems="@Model.Paging.TotalItems"
                      cs-paging-maxpageritems="@Model.Paging.MaxPagerItems"
                      cs-pagenumber-param="pageNumber"
                      cs-previous-page-html="<a href='#' title='Previous page'><i class='glyphicon glyphicon-backward'></i></a>"
                      cs-next-page-html="<a href='#' title='Next page'><i class='glyphicon glyphicon-forward'></i></a>"
                      asp-controller="Country"
                      asp-action="Articles"></cs-pager>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Articles)
        {
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail article_item">
                    <img class="country_img" src="@item.Country.FlagSrc.Replace("23", "220")" />
                    <div class="caption">
                        <h4>@item.Name: @item.Country.Name</h4>
                        <p>
                            <b>Author:</b> @item.Author
                        </p>
                        <p>
                            <b>Date:</b> @item.Date
                        </p>
                        <div class="article">
                            @Html.Raw(item.Text)
                        </div>
                        <a class="btn btn-info" asp-action="ArticleDetails" asp-controller="Country" asp-route-id="@item.Id" target="_blank">Read more...</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div>
            <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                      cs-paging-pagenumber="@Model.Paging.CurrentPage"
                      cs-paging-totalitems="@Model.Paging.TotalItems"
                      cs-paging-maxpageritems="@Model.Paging.MaxPagerItems"
                      cs-pagenumber-param="pageNumber"
                      cs-previous-page-html="<a href='#' title='Previous page'><i class='glyphicon glyphicon-backward'></i></a>"
                      cs-next-page-html="<a href='#' title='Next page'><i class='glyphicon glyphicon-forward'></i></a>"
                      asp-controller="Country"
                      asp-action="Articles"></cs-pager>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        var divRes = $("#content");
        $(function () {
            var countries = [];
            var isAsync = true;
            var form = $("#search");
            form.submit(function (ev) {
                var query = $("#query").val();
                // saving query into cookie
                $.ajax({
                    type: 'GET',
                    url: "/country/searchquery/?query=" + query,
                    dataType: 'json',
                    success: function (resp) {
                        console.log(resp.msg);;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        divRes.innerHTML = thrownError;
                    }
                }).done(function (data) {
                    // Fetching data by query
                    divRes.innerHTML = "";
                    $.ajax({
                        type: 'GET',
                        url: "/country/search/?query=" + query,
                        dataType: 'html',
                        success: function (resp) {
                            divRes.html(resp);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            divRes.innerHTML = thrownError;
                        }
                    });
                });
                
                ev.preventDefault();
            });
        });

        function PagingListLoaded(data) {
            divRes.html(data);
        }

        function PagingRequestFailure(request, error) {
            divRes.innerHTML = error;
        }

        var magic = $("#magic");
        magic.click(function (ev) {
            $.ajax({
                type: 'GET',
                url: "/country/getmagicnumber",
                dataType: 'json',
                success: function (resp) {
                    alert(resp.result);;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            })

            ev.preventDefault();
        });
    </script>
}