﻿@model CountryBlog.Models.Article

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h4>
            <img src="@Model.Country.FlagSrc.Replace("23", "46")" width="46" height="24"/> @Html.DisplayFor(model => model.Name): @Html.DisplayFor(model => model.Country.Name)
        </h4>
        <hr />
        <p>
            <b>Author:</b> @Html.DisplayFor(model => model.Author)
        </p>
        <p>
            <b>Date:</b> @Html.DisplayFor(model => model.Date)
        </p>
        <div>
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>
