﻿@model IEnumerable<CountryBlog.Models.Country>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <caption><h2>Countries</h2></caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FlagSrc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IndepDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Html.DisplayFor(modelItem => item.WikiLink)" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        <td class="flag">
                            <img src="@item.FlagSrc.Replace("23","46")" width="46" height="24"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IndepDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>