﻿@using CountryBlog.Models;
@using CountryBlog.ViewModels;

@model ArticlesList
@addTagHelper "*, cloudscribe.Web.Pagination"
@{
    ViewData["Title"] = "Articles";
    Layout = null;
}
<div class="container">
    <div class="row">
        <a class="btn btn-danger" asp-action="DownloadResults" asp-controller="Country">Download Results</a>
        <div>
            <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                      cs-paging-pagenumber="@Model.Paging.CurrentPage"
                      cs-paging-totalitems="@Model.Paging.TotalItems"
                      cs-pagenumber-param="pageNumber"
                      cs-ajax-target="#content"
                      cs-ajax-loading-duration="10"
                      cs-ajax-success="PagingListLoaded"
                      cs-ajax-failure="PagerRequestFailure"
                      asp-controller="Country"
                      asp-action="Search"
                      asp-route-pagesize="@Model.Paging.ItemsPerPage"></cs-pager>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Articles)
        {
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail article_item">
                    <img class="country_img" src="@item.Country.FlagSrc.Replace("23", "220")" />
                    <div class="caption">
                        <h4>@item.Name: @item.Country.Name</h4>
                        <p>
                            <b>Author:</b> @item.Author
                        </p>
                        <p>
                            <b>Date:</b> @item.Date
                        </p>
                        <div class="article">
                            @Html.Raw(item.Text)
                        </div>
                        <a class="btn btn-info" asp-action="ArticleDetails" asp-controller="Country" asp-route-id="@item.Id" target="_blank">Read more...</a>
                        <a class="btn btn-danger" asp-action="DownloadArticle" asp-controller="Country" asp-route-id="@item.Id">Download article</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <a class="btn btn-danger" asp-action="DownloadResults" asp-controller="Country">Download Results</a>
        <div>
            <cs-pager cs-paging-pagesize="@Model.Paging.ItemsPerPage"
                      cs-paging-pagenumber="@Model.Paging.CurrentPage"
                      cs-paging-totalitems="@Model.Paging.TotalItems"
                      cs-pagenumber-param="pageNumber"
                      cs-ajax-target="#content"
                      cs-ajax-success="PagingListLoaded"
                      cs-ajax-failure="PagerRequestFailure"
                      cs-ajax-loading-duration="10"
                      asp-controller="Country"
                      asp-action="Search"
                      asp-route-pagesize="@Model.Paging.ItemsPerPage"></cs-pager>
        </div>
    </div>
</div>